# {{ ansible_managed }}

{%- set all_calculated_max_connections = [] %}
{%- for galera_node in groups['galera_all'] %}
    {%- if all_calculated_max_connections.append(hostvars[galera_node]['ansible_processor_vcpus'] * 100) %}
    {%- endif %}
{%- endfor %}
{%- set calculated_max_connections = all_calculated_max_connections|sort %}

# How long to wait for successfull mysql startup
# Startup can take a while if it requires a galera state transfer.
MYSQLD_STARTUP_TIMEOUT=1800

ulimit -Hn  {{ galera_max_connections | default(calculated_max_connections[0]) }}
ulimit -n  {{ galera_max_connections | default(calculated_max_connections[0]) }}
